In [2]:
#buit-in function

In [3]:
#abs() function

In [1]:
#with float value
x= abs(-7.68)
print(x)

7.68

In [4]:
#with int value
y= abs(-8)
print(y)

8

In [5]:
#with complex value
z= abs(3+5j)
print(z)

5.830951894845301

In [6]:
#bin() function : Binary Function

In [7]:
x=bin(36)
print(x)

0b100100

In [8]:
y=bin(54)
print(y)

0b110110

In [9]:
#Python Byte function:

In [10]:
x= bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [14]:
y=bytes(18)
print(y)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [15]:
z=bytes(nishant) # error as bytes function only work in integer value like: 6, 17, 20, etc.
print(z)

NameError: name 'nishant' is not defined

In [16]:
#python char() function: character function - return the character that reprsent the specified unique code like : 99 = c

In [18]:
x = chr(99)
print(x)

c

In [19]:
y = chr(97)
print(y)

a

In [20]:
#complex() function: will convert normal value into complex number

In [21]:
x= complex(3,6)
print(x)

(3+6j)

In [22]:
y = complex(2.5,3.96)
print(y)

(2.5+3.96j)

In [23]:
 #float() function: will convert integer value into decimal value/float number

In [24]:
x=float(4)
print(x)

4.0

In [25]:
#int() functoin: will convert float value into int. 
#note: complex number never convert into integer.

In [26]:
x = int(4.56)
print(x)

4

In [27]:
#str() function: will convert any integer value into str.

In [28]:
a=str("2568")
print(a)
print(type(a))

2568
<class 'str'>

In [29]:
#help() function:

In [30]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [31]:
#input() function:

In [33]:
x = input("Enter your Name: ")
print("Hello ",x)

Enter your Name:  Nishant

Hello  Nishant

In [34]:
x = input("Enter your Age: ")
print("Your Age is ",x)

Enter your Age:  25

Your Age is  25

In [35]:
x = input("Enter your Name: ")
print("Hello ",x)
y = input("Enter your Age: ")
print("Your Age is : ",y)

Enter your Name:  Nishant

Hello  Nishant

Enter your Age:  25

Your Age is :  25

In [36]:
x = input("Enter your Name: ")
y = input("Enter your Age: ")
print("Hello ",x)
print("Your Age is : ",y)

Enter your Name:  Nishant
Enter your Age:  25

Hello  Nishant
Your Age is :  25