# Dictionary/Dict():

-> Dictionary are used to store data values in key: value pairs.  
-> Dictionary and list are shared the following charcterstics.  
-> both are mutable.  
-> both are dynamic.  
-> They can grow and shrink as needed.  
-> both can be nested.  
-> a list can cantain another list and dictionary can cantain another dictionary.  
-> a dictionary can cantain a list and vice versa.   
-> Dictionary items are ordered, changeable.  
-> Dictionary not allowed duplicates.  
-> Dictionary items are presented as key:value pairs, and can be reffered to by using the key name.

# 2 ways to Creating Dictionary 

1. dict()  
a["name"]="nishant"  
   
2. a={   
   "ID":"123ab",  
   "color":"black",  
   }

In [2]:
a=dict()
a["Name"]="Nishant"
a["Age"]=26
a["State"]="Delhi"
print(a,"\n")
print(type(a))

{'Name': 'Nishant', 'Age': 26, 'State': 'Delhi'}

<class 'dict'>

In [6]:
a={ "ID":"123ab", "Color":"Black", "Year" : 1997,}
print(a)
print(type(a))

{'ID': '123ab', 'Color': 'Black', 'Year': 1997}
<class 'dict'>

# Dictionary Items are ordered

In [9]:
a={ "ID":"123ab", "Color":"Black", "Year" : 1997,}
print(a["Color"])

Black

# check address of items

In [11]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["Mobile Number"]=9654546020
a["State"]="Delhi"

b=["Nishant", 26, 9654546020, "Delhi"]

print("Dict:",a["State"]) # no need to index/address. 
print("List:",b[3])  # need to count index number

Dict: Delhi
List: Delhi

# Key : Values pair > key are unique and value can be duplicate.

In [12]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["Mobile Number"]=9654546020
a["State"]="Delhi"
print(a.keys()) # always unique and not duplicate
print(a.values()) # more than one and duplicate

dict_keys(['Name', 'age', 'Mobile Number', 'State'])
dict_values(['Nishant', 26, 9654546020, 'Delhi'])

In [15]:
# duplicate values are not allowed and if key are duplicate it will replace it new values.

a={
"ID":"123ab",
"Color":"Black",
"Years":1997,
"Years":2000,  
}

print(a)

{'ID': '123ab', 'Color': 'Black', 'Years': 2000}

# Dictionary in loop

In [16]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["Mobile Number"]=9654546020
a["State"]="Delhi"

for i in a:
    print(i)#always print key

Name
age
Mobile Number
State

In [17]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["Mobile Number"]=9654546020
a["State"]="Delhi"

for i in a:
    print("keys:",i,"\t Values:",a[i]) # to print value we need to print inside value of list "a" like: a[i]

keys: Name 	 Values: Nishant
keys: age 	 Values: 26
keys: Mobile Number 	 Values: 9654546020
keys: State 	 Values: Delhi

In [20]:
a={
"ID":"123ab",
"Color":"Black",
"Years":1997,
"Years":2000,  
}

for i in a:
    print("keys:",i,"\tvalue: ",a[i])

keys: ID 	value:  123ab
keys: Color 	value:  Black
keys: Years 	value:  2000

# Using item() in dictionary

item() help to print key and values together

In [26]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["Number"]=9654546020
a["State"]="Delhi"

for k,v in a.items():
    print("keys:",k,"\t Values:",v) # to print value we need to print inside value of list "a" like: a[i]

keys: Name 	 Values: Nishant
keys: age 	 Values: 26
keys: Number 	 Values: 9654546020
keys: State 	 Values: Delhi

# Type of data can dictionary store

In [33]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["List"]=[10,20,"apple"]
a["Tuple"]=(1,2,3,4,5)
a["Boolean"]=True

print(a)
print(type(a))

{'Name': 'Nishant', 'age': 26, 'List': [10, 20, 'apple'], 'Tuple': (1, 2, 3, 4, 5), 'Boolean': True}
<class 'dict'>

In [32]:
a={
"ID":"123ab",
"Color":"Black", #String
"Years":1997, # Integer
"Years":2000,  
"a":[1,2,3,4,5,6], # List
"b":(10,20,30), # tuple
"c":True, # Boolean
}

print(a)
print(type(a))

{'ID': '123ab', 'Color': 'Black', 'Years': 2000, 'a': [1, 2, 3, 4, 5, 6], 'b': (10, 20, 30), 'c': True}
<class 'dict'>

# Dictionary Constructor Dict(): used to convert any value into dictionary

In [46]:
a=dict(Name = "nishant",Lname = "kumar")
print(a)
print(type(a))

{'Name': 'nishant', 'Lname': 'kumar'}
<class 'dict'>

# Dictionary length

In [34]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["State"]="Delhi"
a["Number"]=9654546020

print("length of dict:", len(a))

length of dict: 4

In [36]:
a={
"ID":"123ab",
"Color":"Black", #String
"Years":1997, # Integer
}

print(len(a))

3

# check whether key age are in dic or not.

In [ ]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["State"]="Delhi"
a["Number"]=9654546020

print(a["age"] in a # check in keys
print("age" in a) # check in values

In [50]:
a={"Name":"Nishant","Age": 26,"Country":"India"}
print(a['Age'])

26

# .get()

In [52]:
a={"Name":"Nishant","Age": 26,"Country":"India"}
print(a.get("Age"))

26

# Get keys

In [62]:
a={"Name":"Nishant","Age": 26,"Country":"India"}
x=a.keys()
x

dict_keys(['Name', 'Age', 'Country'])

# get values

In [63]:
a={"Name":"Nishant","Age": 26,"Country":"India"}
y=a.values()
y

dict_values(['Nishant', 26, 'India'])

# key: values together

In [65]:
a={"Name":"Nishant","Age": 26,"Country":"India"}
x=a.keys()
y=a.values()
x
y

dict_values(['Nishant', 26, 'India'])

## check whether key age are in dic or not.

In [67]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["State"]="Delhi"
a["Number"]=9654546020

print(a["age"]) in a # check in keys
print("age" in a) # check in values

26
True

# Delete

In [68]:
a=dict()
a["Name"]="Nishant"
a["age"]=26
a["State"]="Delhi"
a["Number"]=9654546020

print("befor delete:", a)

del a["age"]
print("after delete: ",a)

befor delete: {'Name': 'Nishant', 'age': 26, 'State': 'Delhi', 'Number': 9654546020}
after delete:  {'Name': 'Nishant', 'State': 'Delhi', 'Number': 9654546020}

# change Values

In [85]:
a={
    "name":"nishant",
    "age":26,
    "state":"delhi"   
}
print("Before update:",a)
a["age"]=28
print("after update:",a)

Before update: {'name': 'nishant', 'age': 26, 'state': 'delhi'}
after update: {'name': 'nishant', 'age': 28, 'state': 'delhi'}

# Adding items

In [86]:
a={
    "name":"nishant",
    "age":26,
    "state":"delhi", "gender":"male"   
}

print(a)

{'name': 'nishant', 'age': 26, 'state': 'delhi', 'gender': 'male'}

# Update new items in dictionary

In [87]:
a={
    "name":"nishant",
    "age":26,
    "state":"delhi", "gender":"male"   
}
a.update({"mail id": "nishant575051@gmail.com"})
print(a)

{'name': 'nishant', 'age': 26, 'state': 'delhi', 'gender': 'male', 'mail id': 'nishant575051@gmail.com'}

# Remove items from dictionary // .pop()

In [89]:
a={
    "name":"nishant",
    "age":26,
    "state":"delhi", "gender":"male"   
}
a.pop("age")
print(a)

{'name': 'nishant', 'state': 'delhi', 'gender': 'male'}

# del()

Delete item from dictionary

In [93]:
a={
    "name":"nishant",
    "age":26,
    "state":"delhi", "gender":"male"   
}
del a["state"]
print(a)

{'name': 'nishant', 'age': 26, 'gender': 'male'}

In [95]:
a={
    "name":"nishant",
    "age":26,
    "state":"delhi", "gender":"male"   
}
del a
print(a)

NameError: name 'a' is not defined

# Clear() function empties the dictionary

In [97]:
a={
    "name":"nishant",
    "age":26,
    "state":"delhi", "gender":"male"   
}
a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

# concatenate the dictionary

In [102]:
a={1:10,2:20}
b={3:30,4:40}
c={5:50,6:60}
d={}
for k in (a,b,c): d.update(k)
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [103]:

a={"Name":"Nishant","Age":26}
b={"State":"Delhi","number":9654546020}
c={"Gender":"Male","Village":"Bihar"}
d={}
for k in (a,b,c): d.update(k)
print(d)

{'Name': 'Nishant', 'Age': 26, 'State': 'Delhi', 'number': 9654546020, 'Gender': 'Male', 'Village': 'Bihar'}

# Exercise:

write a program to print dictionary where the key are numbers between 1 to 15 and the values are square of the keys.

In [112]:
d=dict()
for x in range(1,15+1):
    d[x]=x
print(d)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15}

In [110]:
d=dict()
for x in range(1,15+1):
    d[x]=x**2
    print(d)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [111]:
d=dict()
for x in range(1,15+1):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

# Exercise:

write a program to check wheter key already exist in a dictionary.

In [126]:
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
print(a[5]) in a
print(25 in a)

25
False

# 11 June 2024

In [70]:
student={"fullname": "A B C D".split(),
         "Age":[11,12,13,14],
         "Fees":[11.2,12.3,14.5,15.9]       
                }

In [71]:
student

{'fullname': ['A', 'B', 'C', 'D'],
 'Age': [11, 12, 13, 14],
 'Fees': [11.2, 12.3, 14.5, 15.9]}

In [73]:
student.keys()

dict_keys(['fullname', 'Age', 'Fees'])

In [74]:
student.values()

dict_values([['A', 'B', 'C', 'D'], [11, 12, 13, 14], [11.2, 12.3, 14.5, 15.9]])

In [78]:
for i in student.keys():
    print(student)

{'fullname': ['A', 'B', 'C', 'D'], 'Age': [11, 12, 13, 14], 'Fees': [11.2, 12.3, 14.5, 15.9]}
{'fullname': ['A', 'B', 'C', 'D'], 'Age': [11, 12, 13, 14], 'Fees': [11.2, 12.3, 14.5, 15.9]}
{'fullname': ['A', 'B', 'C', 'D'], 'Age': [11, 12, 13, 14], 'Fees': [11.2, 12.3, 14.5, 15.9]}

In [79]:
for i in student.keys():
    print(student[i])

['A', 'B', 'C', 'D']
[11, 12, 13, 14]
[11.2, 12.3, 14.5, 15.9]

In [80]:
for i in student.keys():
    print(student[i][1])

B
12
12.3