In [2]:
import sys

print(sys.argv)
print()
print(sys.argv[0]) # program name
print()
print(sys.argv[1]) # first arg

['C:\\ProgramData\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\DELL\\AppData\\Roaming\\jupyter\\runtime\\kernel-e8728530-06ed-4ed1-9304-ea63e3b2cea2.json']

C:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py

-f

In [3]:
python3 input.py

SyntaxError: invalid syntax (2816551070.py, line 1)

In [4]:
object_size = 10
if object_size > 5:
    print('We need to keep an eye on this object')
else:
    print('Object poses no threat.')

We need to keep an eye on this object

mars_temperature = "The highest temperature on Mars is about 30 C"
for item in mars_temperature.split():
    print(item)
    if item.isnumeric():
        print()
        print(item)

In [12]:
mars_temperature = "The highest temperature on Mars is about 30 C"
for item in mars_temperature.split():
    print(item)
    if item.isdecimal():
        print()
        print(item)

The
highest
temperature
on
Mars
is
about
30

30
C

In [13]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several 
interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. 
This yearly drift is not significant enough to cause immediate effects on Earth. 
The highest daylight temperature of the Moon is 127 C."""
sentences = text.split('.')
print(sentences)

['Interesting facts about the Moon', " The Moon is Earth's only satellite", ' There are several \ninteresting facts about the Moon and how it affects life here on Earth', ' \nOn average, the Moon moves 4cm away from the Earth every year', ' \nThis yearly drift is not significant enough to cause immediate effects on Earth', ' \nThe highest daylight temperature of the Moon is 127 C', '']

In [14]:
for sentence in sentences:
    if 'temperature' in sentence:
        print(sentence)

The highest daylight temperature of the Moon is 127 C

# Percent sign (%) formatting

In [17]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about %s of your weight on Earth." % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth.

In [23]:
print("""Both sides of the %s get the same amount of sunlight, but only one side is seen from %s because the %s rotates around its own axis when it orbits %s.""" % ("Moon", "Earth", "Moon", "Earth"))

Both sides of the Moon get the same amount of sunlight, but only one side is seen from Earth because the Moon rotates around its own axis when it orbits Earth.

In [22]:
m="Moon"
e="Earth" 
print("""Both sides of the %s get the same amount of sunlight, but only one side is seen from %s because the %s rotates around its own axis when it orbits %s""" % (m,e,m,e))

Both sides of the Moon get the same amount of sunlight, but only one side is seen from Earth because the Moon rotates around its own axis when it orbits Earth

In [25]:
first_planet = 149597870
second_planet = 778547200

distance_km = second_planet - first_planet
print("Distance in KM.. ",distance_km)
print()
distance_mi = distance_km / 1.609344
print("Distance in Miles",distance_mi)

Distance in KM..  628949330

Distance in Miles 390810995.0389724

# Math library

In [27]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

# while and for loop

1. Identify when to use while and for loops.
2. Run a task multiple times by using while loops.
3. Loop over list data by using for loops.

In [29]:
user_input = ''

while user_input.lower() != 'done':
    user_input = input('Enter a new value, or done when done')

Enter a new value, or done when done nishant
Enter a new value, or done when done kumar
Enter a new value, or done when done done

done

In [32]:
# Create the variable for user input
user_input = ''
# Create the list to store the values
inputs = []

# The while loop
while user_input.lower() != 'done':
    # Check if there's a value in user_input
    if user_input:
        # Store the value in the list
        inputs.append(user_input)
    # Prompt for a new value
    user_input = input('Enter a new value, or done when done')
print(inputs)

Enter a new value, or done when done nishant
Enter a new value, or done when done nidhi
Enter a new value, or done when done nikita
Enter a new value, or done when done chandan
Enter a new value, or done when done aaradhya
Enter a new value, or done when done done

['nishant', 'nidhi', 'nikita', 'chandan', 'aaradhya']

In [31]:
print(inputs)

['nishant', 'nikita', 'chandan', 'nidhi', 'aaradhya']

In [34]:
new_planet = ''
# Create the list to store the values
planets = []

while new_planet.lower() != 'done':
    if new_planet:
        planets.append(new_planet)
    new_planet = input('Enter a new planet, or done if done')

print(planets)

Enter a new planet, or done if done mars
Enter a new planet, or done if done earth
Enter a new planet, or done if done uranus
Enter a new planet, or done if done done

['mars', 'earth', 'uranus']

# for loop

In [36]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

print("The first planet is ", planets[0])
print("The second planet is ", planets[1])
print("The third planet is ", planets[2])

The first planet is  Mercury
The second planet is  Venus
The third planet is  Earth

In [37]:
countdown = [4, 3, 2, 1, 0]
for number in countdown:
    print(number)
print("Blast off!! 🚀")

4
3
2
1
0
Blast off!! 🚀

In [38]:
from time import sleep

countdown = [4, 3, 2, 1, 0]

for number in countdown:
    print(number)
    sleep(1)  # Wait 1 second
print("Blast off!! 🚀")

4
3
2
1
0
Blast off!! 🚀

# dictionary:

In [39]:
planet = {
    'name': 'Earth',
    'moons': 1
}

In [40]:
print(planet.get('name'))

Earth

In [43]:
planet.update({
    'name': 'Jupiter',
    'moons': 79
})

planet['name'] = 'Jupiter'
planet['moons'] = 80
print(planet.get('moons'))

80

In [46]:
planet['orbital period'] = 4333

# planet dictionary now contains: {
#   name: 'jupiter'
#   moons: 79
#   orbital period: 4333
# }

In [47]:
planet.pop('orbital period')

# planet dictionary now contains: {
#   name: 'jupiter'
#   moons: 79
# }

4333

In [48]:
# Add address
planet['diameter (km)'] = {
    'polar': 133709,
    'equatorial': 142984
}

# planet dictionary now contains: {
#   name: 'Jupiter'
#   moons: 79
#   diameter (km): {
#      polar: 133709
#      equatorial: 142984
#   }
# }

In [49]:
print(f'{planet["name"]} polar diameter: {planet["diameter (km)"]["polar"]}')

Jupiter polar diameter: 133709

# Retrieve all keys and values

In [50]:
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}

In [51]:
for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

october: 3.5cm
november: 4.2cm
december: 2.1cm

# Determine if a key exists in a dictionary

In [52]:
if 'december' in rainfall:
    rainfall['december'] = rainfall['december'] + 1
else:
    rainfall['december'] = 1

# Because december exists, the value will be 3.1

# Retrieve all values

In [53]:
total_rainfall = 0
for value in rainfall.values():
    total_rainfall = total_rainfall + value

print(f'There was {total_rainfall}cm in the last quarter.')

There was 10.8cm in the last quarter.

In [57]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [58]:
moons = planet_moons.values()
total_planets = len(planet_moons.keys())

# Determine the average number of moons

In [59]:
total_moons = 0
for moon in moons:
    total_moons = total_moons + moon

average = total_moons / total_planets

print(f'Each planet has an average of {average} moons')

Each planet has an average of 17.833333333333332 moons

# function

In [60]:
def rocket_parts():
    print("payload, propellant, structure")

rocket_parts()

payload, propellant, structure

In [63]:
def distance_from_earth(destination):
    if destination == "Moon":
        return "238,855"
    else:
        return "Unable to compute to that destination"

distance_from_earth("Moon")

'238,855'

# Multiple required arguments

In [69]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

days_to_complete(238855, 75)

132.69722222222222

In [68]:
total_days = days_to_complete(238855, 75)
round(total_days)

133

In [70]:
def generate_report(main_tank, external_tank, hydrogen_tank):
    output = f"""Fuel Report:
    Main tank: {main_tank}
    External tank: {external_tank}
    Hydrogen tank: {hydrogen_tank} 
    """
    print(output)

generate_report(80,70,75)

Fuel Report:
    Main tank: 80
    External tank: 70
    Hydrogen tank: 75

# Use keyword arguments in Python

In [73]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime("Arrival: %A %H:%M")

arrival_time(hours=0)

'Arrival: Tuesday 22:47'

In [74]:
arrival_time()

'Arrival: Friday 01:47'

In [76]:
def sequence_time(*args):
    total_minutes = sum(args)
    if total_minutes < 60:
        return f"Total time to launch is {total_minutes} minutes"
    else:
        return f"Total time to launch is {total_minutes/60} hours"

sequence_time(4, 14, 18)

'Total time to launch is 36 minutes'

# Variable keyword arguments

In [77]:
def variable_length(**kwargs):
    print(kwargs)

In [78]:
variable_length(tanks=1, day="Wednesday", pilots=3)
{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [81]:
def crew_members(**kwargs):
    print(f"{len(kwargs)} astronauts assigned for this mission:")
    for title, name in kwargs.items():
        print(f"{title}: {name}")

In [82]:
def water_left(astronauts, water_left, days_left):
    daily_usage = astronauts * 11
    total_usage = daily_usage * days_left
    total_water_left = water_left - total_usage
    return f"Total water left after {days_left} days is: {total_water_left} liters"

water_left(5, 100, 2)

'Total water left after 2 days is: -10 liters'

# 10  july 2024

In [3]:
# create some variables for scoring
sam_like = 0
cam_like = 0
kai_like = 0
indy_like = 0

# update scoring variables based on the activity choice
if activity == "A":
    sam_like = sam_like + 2
    indy_like = indy_like + 2
    kai_like = kai_like + 2
else:
    cam_like = cam_like + 1
    indy_like = indy_like + 1

# update scoring variables based on the job choice
if job == "A":
    sam_like = sam_like + 2
    indy_like = indy_like + 2
    cam_like = cam_like - 1
else:
    sam_like = sam_like - 1
    kai_like = kai_like + 2
    indy_like = indy_like + 1

# update scoring variables based on the value choice
if value == "A":
    sam_like = sam_like - 1
    kai_like = kai_like + 1
else:
    sam_like = sam_like + 2
    cam_like = cam_like + 2
    indy_like = indy_like + 1

# update scoring variables based on the decade choice
if decade == "A":
    cam_like = cam_like + 2
    sam_like = sam_like + 2
else:
    kai_like = kai_like + 1
    indy_like = indy_like + 2

# update scoring variables based on the travel choice
if travel == "A":
    sam_like = sam_like - 2
    kai_like = kai_like + 1
    indy_like = indy_like - 1
else:
    sam_like = sam_like + 1
    cam_like = cam_like + 1
    kai_like = kai_like - 1

# print the results depending on the score
if sam_like >= 3:
    print( "You're most like Sharp-Eyed Sam!" )
elif cam_like >= 3:
    print( "You're most like Curious Cam!" )
elif kai_like >= 3:
    print( "You're most like Keen Kai!" )
else:
    print( "You're most like Inquisitive Indy!" )

NameError: name 'activity' is not defined