In [2]:
integer=[]
for i in range(0,10):
    integer.append(i)
print(integer)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
[ i for i in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
print()
integer=[ i for i in range(0,10)]
print(integer)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
n=19
if n % 2==0:
    print("odd")
else:
    print("even")

even

In [38]:
[for i in range(0,21) if i%2!=0 else:= "odd"]

SyntaxError: invalid syntax (3945223357.py, line 1)

# find the sum of all elements in the given list

In [15]:
ip=[2,4,6,1,7,5,10]
l=[10,20,30,40,50]
sum(l)

150

In [21]:
sum=0
for i in l:
    sum+=i
print(sum)

150

In [37]:
s=0
p=[s:=s+i for i in l]
print(p)
print(s)

[10, 30, 60, 100, 150]
150

# square root of the list items

In [64]:
l=[1,2,3,4,5,6]
l2=[]
for i in l:
    l2.append(i*2)
l2

[2, 4, 6, 8, 10, 12]

In [66]:
l=[1,2,3,4,5,6]
l2=[i*2 for i in l ]
l2

[2, 4, 6, 8, 10, 12]

# cube of the list items

In [67]:
l=[1,2,3,4,5,6]
l2=[i**2 for i in l ]
l2

[1, 4, 9, 16, 25, 36]

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

# remove all vowels in given strings

In [40]:
str=input("enter your string")

for i in str:
    if i not in "aeiou":
        print(i,end="")

enter your string nishant

nshnt

In [43]:
str=input("enter your string")

res="".join([i for i  in str if i not in "aeiou"])
res

enter your string anita

'nt'

# factorial of number

In [47]:
n=5
fact=1
for i in range(1,n+1):
    fact=i*fact
fact

120

In [63]:
n=int(input("enter number"))
fact=1
[fact:=fact*i  for i in range(1,n+1)]
print(fact)

enter number 5

120

# odd even number filter

In [77]:
l=[1,2,3,4,5,6,7,8,9,10,11]
od=[]
ev=[]
for i in l:
    if i%2==0:
        od.append(i)
    else:
        ev.append(i)

print(od)
print(ev)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

In [117]:
l=[1,2,3,4,5,6,7,8,9,10]
ev=[i  for i in l if i%2==0]
od=[i for i in l if i%2!=0]
print(ev)
print(od)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

# flatten a list of list

In [87]:
l=[ [1,2,3],[4,5,6],[7,8,9] ]
print(l)
l2=[]
for i in l:
    for k in i:
        l2.append(k)
print(l2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
l=[ [1,2,3],[4,5,6],[7,8,9] ]
print("list of list: ",l)
print()
l2=[ k for i in l for k in i ]
print("flatten of list: ",l2)

list of list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flatten of list:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Generating a list of the first latters of words in a list.

In [105]:
word=["apple", "banana","orange","dates"]

for i in word:
    print(i[0],end=",")

a,b,o,d,

In [106]:
word=["apple", "banana","orange","dates"]
new=[i[0] for i in word]
new

['a', 'b', 'o', 'd']

# genrerating a list of the square numbers of even numbers

In [121]:
l=[1,2,3,4,5,6,7,8,9,10,11]
ev=[]
for i in l:
    if i%2==0:
        ev.append(i*2)
print(ev)

[4, 8, 12, 16, 20]

In [122]:
l=[1,2,3,4,5,6,7,8,9,10,11]
ev=[ i*2 for i in l if i%2==0]
ev

[4, 8, 12, 16, 20]

# converting list of string to a list of integer

In [129]:
l=["1","2","3","4","5","6"]
l2=[]
for i in l:
    l2.append(int(i))

print(l2)
type(l2[0])

[1, 2, 3, 4, 5, 6]

int

In [134]:
l=["1","2","3","4","5","6"]
l3=[ int(i) for i in l ]
print(l3,type(l3[0]))

[1, 2, 3, 4, 5, 6] <class 'int'>

# generating a list of the fibannacci sequence using a list comprehension

In [212]:
a=0
b=1
for i in range(0,25):
    a,b=a+b,a
    print(a,end=",")

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,6765,10946,17711,28657,46368,75025,

In [206]:
a=0
b=1
# [a for i in range(0,10) if (a:=a+b & b=a) ]

[a for i in range(0, 10) for a, b in [(a + b, a)] if (a, b := a + b, a)]

SyntaxError: assignment expression cannot rebind comprehension iteration variable 'b' (905722989.py, line 5)

In [184]:
a,b=0,1

[a for i, (a, b) in enumerate([(a + b, a) for a, b in [(0, 1)] * 25])]
[a for a, b in [(a + b, a) for a, b in [(0, 1)] * 25]]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [146]:
fib=[1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,6765]

[ fib[i-1]+fib[i-2]  for i in range (2,len(fib)) ]

[2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

# genrate the list of all the divisor of the number

In [147]:
number=36

for i in range(1,number+1):
    if number%i==0:
        print(i)

1
2
3
4
6
9
12
18
36

In [151]:
number=int(input("enter number"))
print(number ,"number is divisor by: ",[i for i in range(1,number+1) if number%i==0])

enter number 36

36 number is divisor by:  [1, 2, 3, 4, 6, 9, 12, 18, 36]

# genrate a list of all the prime number less than a given number:

In [214]:
n=int(input("enter number"))
for i in range(0,n):
    for k in range(2,i):
        b=1
        if i%k==0:
            b=0
            break           
    if b==1:
        print(i,end=", ")

enter number 20

3, 5, 7, 11, 13, 17, 19,

In [180]:
# n=int(input("enter number"))
n=20
[ i for i in range(2,n) if all (i%k!=0 for k in range(2,i)) ]

[2, 3, 5, 7, 11, 13, 17, 19]

# find word which start with letter p

In [248]:
word=["java","python","php","c","javascript"]


for i in word:
    if i.startswith("p"):
        print(i)

python
php

In [213]:
word=["java","python","php","c","javascript"]

[i for i in word if i.startswith("p")]

['python', 'php']

> # nested if with list comprehension

basket=["apple", "guava", "cherry", "banana"] <br>
my_fruit=["apple", "kiwi", "grapes", "banana"]

># add new list from my_fruit and items if the fruit exist in basket and also start with p

In [247]:
basket=["apple", "guava", "cherry", "banana","avacado"]
my_fruit=["apple", "kiwi", "grapes", "banana","avacado"]


for i in my_fruit:
    if i in basket:
        if i.startswith("a"):
            print(i,end=" ")

apple avacado

In [215]:
basket=["apple", "guava", "cherry", "banana"]
my_fruit=["apple", "kiwi", "grapes", "banana"]

k=[i for i in my_fruit] # show  all fruits list in my_fuits
l=[i for i in my_fruit if i in basket] # check existing fruits in basket 
m=[i for i in my_fruit if i in basket if i.startswith("a")] # check existing fruits starts with "a"
print(k)
print(l)
print(m)

['apple', 'kiwi', 'grapes', 'banana']
['apple', 'banana']
['apple']

# print(3.3) matrix using the list comprehension | nested list comprehension

In [238]:
l4=[]
for i in range(1,4):
    l2=[]
    for k in range(1,4):
        l2.append(i*k)
    l4.append(l2)
l4

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [216]:
[[i*k for i in range(1,4)] for k in range(1,4) ]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

# multiplication of 2 list

In [223]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[]
for i in l1:
    for k in l2:
        print(i*k,end=" ")
        l3.append(i*k)
print()

print(l3)

5 6 7 8 10 12 14 16 15 18 21 24 20 24 28 32
[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [217]:
l1=[1,2,3,4]
l2=[5,6,7,8]

k=[i*j for i in l1 for j in l2]
print(k)

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

# print table using list & dict comprehension

In [270]:
s=int(input("enter number"))
e=int(input("enter number"))
for i in range(s,e+1):
    for k in range(i,i*10+1,i):
        print(k,end=" ")
    print()

enter number 2
enter number 5

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [286]:
s=2
n=3
print([k for i in range(1,n+1) for k in range(i,i*10+1,i) ])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [287]:
[k for i in range(1,n+1) for k in range(i,i*10+1,i) ]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30]

In [306]:
for i in range(1,11):
    for k in range(2,6):
        print(i*k,"\t",end=" ")
    print()

2 	 3 	 4 	 5
4 	 6 	 8 	 10
6 	 9 	 12 	 15
8 	 12 	 16 	 20
10 	 15 	 20 	 25
12 	 18 	 24 	 30
14 	 21 	 28 	 35
16 	 24 	 32 	 40
18 	 27 	 36 	 45
20 	 30 	 40 	 50

In [292]:
{k:{i*k for i in range(1,11)} for k in range(1,5) }

{1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10},
 2: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20},
 3: {3, 6, 9, 12, 15, 18, 21, 24, 27, 30},
 4: {4, 8, 12, 16, 20, 24, 28, 32, 36, 40}}

# cube of 2 - 5 using dict comprehension

In [387]:
cube={}
for i in range(1,6):
    cube[i]={}
    for k in range(1,11):
        cube[i][k]=i*k 
    
cube

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}}

In [307]:
{i:{i**j for j in range(1,11)} for i in range(2,5)}

{2: {2, 4, 8, 16, 32, 64, 128, 256, 512, 1024},
 3: {3, 9, 27, 81, 243, 729, 2187, 6561, 19683, 59049},
 4: {4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144, 1048576}}

In [389]:
result = {}
for i in range(1, 6):
    inner_set = set()
    for j in range(1, 11):
        inner_set.add(i * j)
    result[i] = inner_set

result

{1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10},
 2: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20},
 3: {3, 6, 9, 12, 15, 18, 21, 24, 27, 30},
 4: {4, 8, 12, 16, 20, 24, 28, 32, 36, 40},
 5: {5, 10, 15, 20, 25, 30, 35, 40, 45, 50}}

# square root of all items in the list

In [1]:
list1=[1,2,3,4,5]
sqt = [x**2 for x in list1]
print(sqt)

[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]