# List

# Creating List: -

In [2]:
a=["Apple", "Mango", "Orange", "Papaya"]
print(a)
print(type(a))

['Apple', 'Mango', 'Orange', 'Papaya']
<class 'list'>

# Allow duplicates

In [3]:
a=["Apple", "Mango", "Orange", "Papaya", "Orange", "Apple", "Banana", "Kiwi"]
print(a)

['Apple', 'Mango', 'Orange', 'Papaya', 'Orange', 'Apple', 'Banana', 'Kiwi']

# list items - Data types (which type of data can list cantain)

In [12]:
a=["Apple", "Mango", "Orange", "Papaya", "Kiwi", "Banana"] # String
b=[1,2,3,4,5,6,7,8,9] # Integer
c=[1.2,2.0,3.4] #Float
d=[True, False, False, True] # Boolean Type

print("String:- ",a,"\n","Integer:- ",b,"\n","Float:- ",c,"\n","Boolean:- ",d)

String:-  ['Apple', 'Mango', 'Orange', 'Papaya', 'Kiwi', 'Banana']
 Integer:-  [1, 2, 3, 4, 5, 6, 7, 8, 9]
 Float:-  [1.2, 2.0, 3.4]
 Boolean:-  [True, False, False, True]

In [13]:
a=["Apple", "Mango", "Orange", "Papaya", "Kiwi", "Banana", 1,2,3,4,5,6,7,8,9,True, False, False, True,1.2,2.0,3.4]
print(a)

['Apple', 'Mango', 'Orange', 'Papaya', 'Kiwi', 'Banana', 1, 2, 3, 4, 5, 6, 7, 8, 9, True, False, False, True, 1.2, 2.0, 3.4]

# List Length

In [15]:
a=["Apple", "Mango", "Orange", "Papaya", "Kiwi", "Banana", 1,2,3,4,5,6,7,8,9,True, False, False, True,1.2,2.0,3.4]
print(len(a))

22

# Access Items:

In [17]:
b=[1,2,3,4,5,6,7,8,9]
print(b[2])

3

In [22]:
# index No.: 
#      0       1        2         3          4         5        6    
a=["Apple", "Mango", "Orange", "Papaya", "Orange", "Banana", "Kiwi"]
print(a[2])

Orange

In [23]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[8])

50

In [31]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[-18])

15

In [32]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[-5])

80

# Slicing of items:

slicing will help to select the particular range from the item/list which are required. slicing work has three fase (start, end and steps/gape)

In [33]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[0:5])

[10, 15, 20, 25, 30]

In [38]:
#Start with
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[5:])

[35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [39]:
#end with
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[:10])

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55]

In [37]:
# Between range
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[5:10])

[35, 40, 45, 50, 55]

In [43]:
#using steps/skip the values:- 
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a[0:18+1:2])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Change List items

In [44]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)

a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
a[5]="Niku"
print(a)

[10, 15, 20, 25, 30, 'Niku', 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# change list in between the range

In [46]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)

a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
a[5:7]="Niku","Apple","watermelon"
print(a)

[10, 15, 20, 25, 30, 'Niku', 'Apple', 'watermelon', 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Add items into List /add value into empty list a[]:

In [51]:
a=[]
a.append("Nishant")
a.append("Niku")
a.append("BA")
a.append(9654546020)
a.append("Delhi")
a.append("26 Year")
print(a)

['Nishant', 'Niku', 'BA', 9654546020, 'Delhi', '26 Year']

In [52]:
# Change List Value:
a=[]
a.append("Nishant")
a.append("Niku")
a.append("BA")
a.append(9654546020)
a.append("Delhi")
a.append("26 Year")
print(a)

a[4]="Bihar"
print(a)

['Nishant', 'Niku', 'BA', 9654546020, 'Delhi', '26 Year']
['Nishant', 'Niku', 'BA', 9654546020, 'Bihar', '26 Year']

# add new items into list.

In [54]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)

a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print("Before update: \t",a)

a.append(105)
a.append(110)
a.append("End")
print("After Update: \t",a)

Before update: 	 [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
After Update: 	 [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 'End']

# Remove items from the list

In [57]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)

a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print("Before update: \t",a)

a.remove(25)
print("After Update: \t",a)

Before update: 	 [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
After Update: 	 [10, 15, 20, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Delete items from the list

In [61]:
#delete item from the list
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)

a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print("Before update: \t",a)

del a[5]
print("After Update: \t",a)

Before update: 	 [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
After Update: 	 [10, 15, 20, 25, 30, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [63]:
#delete item range from the list
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18       (Index Number/ item Position number)
# -19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1       (Reverse Index Number/ item Position number)

a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print("Before update: \t",a)

del a[5:8]
print("After Update: \t",a)

Before update: 	 [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
After Update: 	 [10, 15, 20, 25, 30, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Join 2 lists:

In [72]:
a=[10,15,20,25,30,35,40,45,50]
b=[55,60,65,70,75,80,85,90,95,100]
print("Before Update: a & b \n")
print(a)
print(b)
print("\n After Update: ",a+b)

Before Update: a & b

[10, 15, 20, 25, 30, 35, 40, 45, 50]
[55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

 After Update:  [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# Check items in List (in a list):

In [73]:
a=[10, 15, 20, 25, 30, 'Niku', 'Apple', 'watermelon', 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
print("Niku" in a)

True

In [74]:
a=[10, 15, 20, 25, 30, 'Niku', 'Apple', 'watermelon', 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
45 in a

True

In [75]:
a=[10, 15, 20, 25, 30, 'Niku', 'Apple', 'watermelon', 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
"Nishant" in a

False

# Reverse list items:

In [79]:
a=[10, 15, 20, 25, 30, 'Niku', 'Apple', 'watermelon', 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
a.reverse()
print(a)

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 'watermelon', 'Apple', 'Niku', 30, 25, 20, 15, 10]

# Min value in the list

In [86]:
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(min(a))

10

# Max value in the list

In [87]:
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(max(a))

100

# Count() check duplicate number/ repeated number

In [92]:
a=[10,15,20,25,55,30,35,40,55, 45,50,55,60,65,70,75,40, 55, 80, 80,85,90, 90, 90, 90, 70, 70,90,95,100]
print(a.count(55))

4

In [98]:
n=int(input("enter a number"))
a=[10,15,20,25,55,30,35,40,55, 45,50,55,60,65,70,75,40, 55, 80, 80,85,90, 90, 90, 90, 70, 70,90,95,100]
print(a.count(n))

enter a number 10

1

# Find Index Number of items:

In [100]:
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(a.index(35))

5

In [106]:
# index No.: 
#  0   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32       (Index Number/ item Position number)
# -31-30-29-28-27-26-25-24-23-22-21-20-19-18-17-16-15-14-13-12-11-10 -9 -8 -7 -6-5-4 -3 -2 -1       (Reverse Index Number/ item Position number)
a=[10,15,20,25,55,30,35,40,55,45,50,55,60,65,70,75,40,55,80,80,85,90,90,90,90,70,70,90,95,100]
print(a.index(40,10)) # check item after index number 10 to n.
print(a.index(40))  # check items from 0 to n.

16
7

# Exercise: 
Write a program to do the sum of all the items/value stroed in the list

In [107]:
a=[10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]
print(sum(a))

1045

# Exercise: 
Write a program to Store items/value in the list entered by user.

In [111]:
a=[]
l=int(input("enter a number"))
a.append(l)
print(a)

enter a number 12

[12]

In [114]:
a=[]
l=int(input("enter a length of the list."))
for i in range(l):
    v=int(input("enter a number"))
    a.append(v)
    print(a)

enter a length of the list. 3
enter a number 12

[12]

enter a number 15

[12, 15]

enter a number 18

[12, 15, 18]

In [117]:
a=[]
l=int(input("enter a length of the list."))
for i in range(l):
    v=int(input("enter a number"))
    a.append(v)
print(a)

enter a length of the list. 2
enter a number 12
enter a number 12

[12, 12]

# Exercise: 
write a program to Add value in particular index number in the list.

In [119]:
a=[10,20,30,40,50,60,70,80,90,100]
a[2]=25
print(a)

[10, 20, 25, 40, 50, 60, 70, 80, 90, 100]

In [120]:
a=[10,20,30,40,50,60,70,80,90,100]

ind=int(input("enter index number"))
it=int(input("enter number to replace"))

a[ind]=it
print(a)

enter index number 3
enter number to replace 45

[10, 20, 30, 45, 50, 60, 70, 80, 90, 100]

In [123]:
a=[]
l=int(input("enter a length of the list."))
for i in range(l):
    v=int(input("enter a number"))
    a.append(v)
print(a)
print()
ind=int(input("enter index number"))
it=int(input("enter number to replace"))

a[ind]=it
print(a)

enter a length of the list. 7
enter a number 10
enter a number 20
enter a number 3
enter a number 40
enter a number 50
enter a number 60
enter a number 70

[10, 20, 3, 40, 50, 60, 70]

enter index number 2
enter number to replace 30

[10, 20, 30, 40, 50, 60, 70]

# Exercise: 
write a program to Find the largest & Loweser number in the list and do the sum of all the items in the list.

l=[40,15,17,-4,18,28,-2,90,45,234,34,-75,76,45,89]

In [130]:
l=[40,15,17,-4,18,28,-2,90,45,234,34,-75,76,45,89]
print("Largest number in the list is: ",max(l),"\nLowest number in the lis is: ", min(l) ,"\nTotal sum of item in the list is: ",sum(l))

Largest number in the list is:  234
Lowest number in the lis is:  -75
Total sum of item in the list is:  650

In [131]:
l=[40,15,17,-4,18,28,-2,90,45,234,34,-75,76,45,89]
print(len(l))

15

In [143]:
a=0
for i in range(10+1):
    print(i,end="\t")
    a=a+i
    print(a)

0	0
1	1
2	3
3	6
4	10
5	15
6	21
7	28
8	36
9	45
10	55

In [140]:
l=[40,15,17,-4,18,28,-2,90,45,234,34,-75,76,45,89]
le=len(l)
a=0
for i in range(le):
    a=a+l[i]
    print("Sum of items",a)

Sum of items 40
Sum of items 55
Sum of items 72
Sum of items 68
Sum of items 86
Sum of items 114
Sum of items 112
Sum of items 202
Sum of items 247
Sum of items 481
Sum of items 515
Sum of items 440
Sum of items 516
Sum of items 561
Sum of items 650

In [147]:
#l=[1,2,3,4,5,6,7,8,9,10]
l=[14,15,12,78,-9,23,-8,52,74,89,25,102,8]
#l=[40,15,17,-4,18,28,-2,90,45,234,34,-75,76,45,89]
le=len(l)
a=0
for i in range(le):
    a=a+l[i]
print("Sum of items",a)

Sum of items 475

# Exercise:
write a program to take number from the user into the list and do the sum, find min, max.

In [148]:
a=[]
l=int(input("enter a length of the list."))
for i in range(l):
    v=int(input("enter a number"))
    a.append(v)
print(a,"\nMinimum number of a is:", min(a),"\nMaximum number  of a is:",max(a),"\nSum of a is:",sum(a))

enter a length of the list. 8
enter a number 10
enter a number 26
enter a number 87
enter a number 90
enter a number 24
enter a number 65
enter a number 89
enter a number 91

[10, 26, 87, 90, 24, 65, 89, 91]
Minimum number of a is: 10
Maximum number  of a is: 91
Sum of a is: 482

# Exercise:
Write a program to do the Multiply of all the items/value stroed in the list.

In [1]:
#l=[1,2,3,4]
l=[1,2,3,4,5,6,7,8,9,10]
#l=[14,15,12,78,-9,23,-8,52,74,89,25,102,8]
#l=[40,15,17,-4,18,28,-2,90,45,234,34,-75,76,45,89]
le=len(l)
a=1
for i in range(le):
    a=a*l[i]
    i=i+1
    print(i,end=" ")
    print(" = ",a)
print("Multiply of a",a)

1  =  1
2  =  2
3  =  6
4  =  24
5  =  120
6  =  720
7  =  5040
8  =  40320
9  =  362880
10  =  3628800
Multiply of a 3628800

# append

In [2]:
a=[]
b=[10,20,30,40,50,60]
c=[9,8,7,6,5,4,3,2,1]
a.append(b)
a.append(c)
print(a)
print(len(a))

[[10, 20, 30, 40, 50, 60], [9, 8, 7, 6, 5, 4, 3, 2, 1]]
2

# Extend 

will help to combined the 2 list into 1.

In [1]:
a=[]
b=[10,20,30,40,50,60]
c=[9,8,7,6,5,4,3,2,1]
a.extend(b)
a.extend(c)
print(a)
print(len(a))

[10, 20, 30, 40, 50, 60, 9, 8, 7, 6, 5, 4, 3, 2, 1]
15

In [8]:
k=[10,20,30,40,50]
for i in k:
    print(i)

10
20
30
40
50

In [6]:
k[1]

20

In [10]:
for i in range(len(k)):
    print(k[i])

10
20
30
40
50

# Delete

In [14]:
k=[10,20,30,40,50]
del(k[2])
print(k)

[10, 20, 40, 50]

In [15]:
k=[10,20,30,40,50]
del(k)
print(k)

NameError: name 'k' is not defined

# Pop

used to delete last value from the list.

In [12]:
k=[10,20,30,40,50]
print(k)
k.pop()
print(k)

[10, 20, 30, 40, 50]
[10, 20, 30, 40]

In [16]:
k=[10,20,30,40,50]
print(k)
k.pop(2)
print(k)

[10, 20, 30, 40, 50]
[10, 20, 40, 50]

# Reverse 
used to print value in a reverse method.

In [17]:
k=[10,20,30,40,50]
k.reverse()
print(k)

[50, 40, 30, 20, 10]

# Sort

used to allign value in the accending orders.

In [19]:
a=[123,67,38,98,23,1,20,10,65,35]
a.sort()
print(a)

[1, 10, 20, 23, 35, 38, 65, 67, 98, 123]

In [20]:
#sort with reverse
a=[123,67,38,98,23,1,20,10,65,35]
a.sort()
a.reverse()
print(a)

[123, 98, 67, 65, 38, 35, 23, 20, 10, 1]

In [21]:
#sort with reverse
a=[123,67,38,98,23,1,20,10,65,35]
a.sort(reverse=True)
print(a)

[123, 98, 67, 65, 38, 35, 23, 20, 10, 1]

# List in list

find the value stored in the list under the list.

In [26]:
m=[[11,12],[13,14],[15,16]]
print(m)
print(len(m))
print(m[1][0])

[[11, 12], [13, 14], [15, 16]]
3
13

n=[[11,12,13],[14,15,16]]
print(n)
print(len(n))
print(n[0][2])

# .insert()
used to add new value into the list

In [31]:
a=["Nishant","Kumar","From", "Delhi"]
a.insert(4,"Badli Delhi")
print(a)

['Nishant', 'Kumar', 'From', 'Delhi', 'Badli Delhi']

# add value through slicing.

In [3]:
# add value into the list in ending.
l=[12,13,14,15]
l[3:]=[16] # here 3 is index number of the list in which value need to add in the list. and value should be iterable like [16].
print(l)

[12, 13, 14, 16]

# add value thorugh slicing between the 2 numbers.

In [5]:
# add value in between
l=[12,13,14,15]
l[2:2]=[16] # here 2:2 is index number of the list in which value between need to add in the list. and value should be iterable like [16].
print(l)

[12, 13, 16, 14, 15]

In [2]:
# add value in the starting
l=[12,13,14,15]
l[:0]=[17]
print(l)

[17, 12, 13, 14, 15]

In [12]:
k=[12,13,14,15]
# add an element in last
k[len(k):]=[16]
# add an element inside a list
k[2:2]=[10]
# add an element in starting
k[:0]=[11] 
print(k)

[11, 12, 13, 10, 14, 15, 16]

In [15]:
# add collection of list
l=[1,2,3,4,5,6]
# add in starting
l[:0]=[10,11,12]

#in between the range
l[3:3]=[15,16,17]

# add in last
l[len(l):]=[20,21,22]

print(l)

[10, 11, 12, 15, 16, 17, 1, 2, 3, 4, 5, 6, 20, 21, 22]

# insert()

In [19]:
n=[1,2,3,4,5,6]

# add in last
n.insert(len(n),10)
print(n)

# add in between
n.insert(1,12)
print(n)

# add in start
n.insert(0,15)
print(n)

[1, 2, 3, 4, 5, 6, 10]
[1, 12, 2, 3, 4, 5, 6, 10]
[15, 1, 12, 2, 3, 4, 5, 6, 10]

In [1]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [7]:
user_planet = input("Please enter the name of the planet. planet name should be start with capital letter.")
# check index of user given planet:---------->
planets_index=planets.index(user_planet)
print(planets_index)

# check plant clouser to sun from planet index:-------->
print("Here are the planets further than " + user_planet)
print(planets[0:planets_index])

Please enter the name of the planet. planet name should be start with capital letter. Mars

3
Here are the planets further than Mars
['Mercury', 'Venus', 'Earth']

In [8]:
help()

Welcome to Python 3.11's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".

help>  string

Help on module string:

NAME
    string - A collection of string constants.

MODULE REFERENCE
    https://docs.python.org/3.11/library/string.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(self, format_string, /, *args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class Template(builtins.object)
     |  Template(template)
     |
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  get_identifiers(self)
     |
     |  is_valid(self)
     |
     |  safe_substitute(self, mapping={}, /, **kws)
     |
     |  substitute(self, mapping={}, /, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  __init_subclass__() from builtins.type
     |      This method is called when a class is subclassed.
     |
     |      The default implementation does nothing. It may be
     |      overridden to extend subclasses.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  braceidpattern = None
     |
     |  delimiter = '$'
     |
     |  flags = re.IGNORECASE
     |
     |  idpattern = '(?a:[_a-z][_a-z0-9]*)'
     |
     |  pattern = re.compile('\n            \\$(?:\n              ...identifie...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    c:\programdata\anaconda3\lib\string.py

help>  set

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

help>  q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [11]:
n=int(input("enter a number here"))
r=int(input("enter last range here"))
for i in range(1,r*10+1):
    if i%n==0:
        print(i)

enter a number here 2
enter last range here 2

2
4
6
8
10
12
14
16
18
20

In [6]:
n="q"
print(ord(n))

113

IndexError: list assignment index out of range