# String /str

# Data cleaning & Prepration: 

pre-processing: string are used to clean and process text data. this include such as removing unwanted space, charcters, symbols 
and normalizing case(words) in upper and lower case and trimming white space from given string.

# Methods of strings

1. Multiline string print                                        : """ sentence/peragraph """

2. remove white space                                            : a.strip()

3. upper case                                                    : a.upper()

4. lower case                                                    : a.lower()

5. reverse string                                                : (a[ : :-1])

6. length of the string                                          : len(a)

7. count the number of repetation of word                        : a.count("word")

8. word replace                                                  : .replace("word", "replaced word")

9. most used word                                                : max(a)

10. less used word                                               : min(a)

11. find word                                                    : a.find()

12. reverse find (find value from backward)                      : a.rfind()

13. index number of word                                         : a.index("word")

14. split word                                                   : a.split()

15. string concenate                                             : str1 + str2  (Helloworld)

16. allign all string in the form of (a-z)                       : a.sorted()

17. Slicing word "Hello": a[0] : "H" | a[:-1] : o | a[::-1]      : "olleh"

18. check string in the sentence or not                          : "hello" in a

19. check string start with                                      : a.startswith("word")

20. check string end with                                        : a.endswith("word")

21. all items in an iterable and joins them into one string.     : " ".join(a)  |  a=("hello", "world") : hello world

22. each word of sentence is in caps letter                      : print(a.title())

23.  capitalize 1st character of the sentance                    :.capitalize

In [1]:
a="Hello"
print(a)

Hello

In [2]:
b='Hello'
print(b)

Hello

In [3]:
c="Hello this is nishant. i'm a data analytics student at ducat."
print(c)

Hello this is nishant. i'm a data analytics student at ducat.

# Multiline String:

you can assign a multiline string to a variable by using three quotes:

In [5]:
d="""  Python is a high-level, general-purpose programming language. 
Its design philosophy emphasizes code readability with the use of significant indentation. 
Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, 
including structured, object-oriented, and functional programming.
Wikipedia

 """
print(d)

  Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
Python is dynamically typed and garbage-collected. It supports multiple programming paradigms,
including structured, object-oriented, and functional programming.
Wikipedia

# Indexing of strings -----> (0 to n) and <------(-1 to -n)

In [7]:
a="hello nishant"
print(a[11])

n

In [3]:
a="hello nishant"
print(a[-2])

n

# Slicing of strings

In [11]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a[0:5])

Hello

In [14]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a[6:21])

Nishant how are

In [17]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a[0:21:2])

HloNsathwae

In [20]:
#sting by using steps/gape print
a="Hello"
#a="Hello Nishant how are you, hope you are well and healthy"
print(a[0:21:2+1])

Hl

In [19]:
a="hello"
print(a[::-1])

olleh

# reversing a string

In [21]:

a="Hello Nishant how are you, hope you are well and healthy"
print(a[::-1])

yhtlaeh dna llew era uoy epoh ,uoy era woh tnahsiN olleH

# calculate or find length of strings

In [9]:
a="Hello Nishant how are you, hope you are well and healthy"
print(len(a))

56

In [25]:
a="Nishant"
print(type(a))

<class 'str'>

# python - Modifying stings

# upper method

Upper() method are return the string in upper case

In [28]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a.upper())

HELLO NISHANT HOW ARE YOU, HOPE YOU ARE WELL AND HEALTHY

# lower method

lower() method are return the string in lower case

In [29]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a.lower())

hello nishant how are you, hope you are well and healthy

# word Replace method

the replace() method replacing a strings with another string.

In [33]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a.replace("Nishant", "Nishant Gupta"))
              #   word        replace word in strings

Hello Nishant Gupta how are you, hope you are well and healthy

# word find method

In [34]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a.find("how"))

14

# Check Stings 
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [38]:
a="Hello Nishant how are you, hope you are well and healthy"
print("Nishant" in a)

True

In [21]:
a="Hello Nishant how are you, hope you are well and healthy"
if "Nishant" in a:
    print("Yes, Nishant present")

Yes, Nishant present

In [23]:
a="Hello Nishant how are you, hope you are well and healthy"
"Hello" in a

True

# check if not

In [42]:
a="Hello Nishant how are you, hope you are well and healthy"
if "Gupta" in a:
    print("Yes, present")
else:
    print("Not Present")

Not Present

In [43]:
a="Hello Nishant how are you, hope you are well and healthy"
print("gupta" in a)

False

# String Concatenation:

In [48]:
a= "Hello"
b= "Nishant"
c= print(a+ " "+b)

Hello Nishant

# python string index() method

In [13]:
a="Hello Nishant how are you, hope you are well and healthy"
print(a.index("Nishant"))
b=a.index("how")
print(b)

6
14

# Write a python program to insert a string in between two strings, find the length of the string

In [7]:
a="Delhi is a capital of india"
b="Lal quilla is beautiful place in delhi"
c=a.upper()+" "+b.lower()
print(c)
print(len(c))

DELHI IS A CAPITAL OF INDIA lal quilla is beautiful place in delhi
66

# Write a program to split the string

In [9]:
print(c.split())

['DELHI', 'IS', 'A', 'CAPITAL', 'OF', 'INDIA', 'lal', 'quilla', 'is', 'beautiful', 'place', 'in', 'delhi']

In [ ]:
chr("akjh")

# methods

In [7]:
a="!!!!!nishant !!!!! Niku !!!!!"
print(len(a))
print(a.upper())
print(a.lower())
print(a.rstrip("!"))
print(a.replace("nishant","niku"))
print(a.split(" ")) # split all sentance in gape of space.

29
!!!!!NISHANT !!!!! NIKU !!!!!
!!!!!nishant !!!!! niku !!!!!
!!!!!nishant !!!!! Niku
!!!!!niku !!!!! Niku !!!!!
['!!!!!nishant', '!!!!!', 'Niku', '!!!!!']

In [35]:
blogheading = "introduction of Python"
print(len(blogheading))
print(blogheading.capitalize()) # capitalize first word of the letter in the sentance.
print(len(blogheading.center(50)))
print("Repeation of word t in the sentance is :",blogheading.count("t")) # count repetation of the word in the sentance.
print("sentance are end with 'n' is true: ",blogheading.endswith("n"))
print("sentance are Start with 'n' is true: ",blogheading.startswith("i"))
print("will give first occurance and postion of the word in the sentance:",blogheading.find("of")) # if value not found in the sentance will give -1.
print("will give first occurance and postion of the word in the sentance:",blogheading.find("off")) # if value not found in the sentance will give -1.

print("will give first occurance and postion of the word in the sentance:",blogheading.index("of")) # if value not found give error.
#print("will give first occurance and postion of the word in the sentance:",blogheading.index("off")) # if value not found give error.

22
Introduction of python
50
Repeation of word t in the sentance is : 3
sentance are end with 'n' is true:  True
sentance are Start with 'n' is true:  True
will give first occurance and postion of the word in the sentance: 13
will give first occurance and postion of the word in the sentance: -1
will give first occurance and postion of the word in the sentance: 13

# isalnum : 

will check your string is alpha numeric or not.

In [45]:
a="Welcome TO The India"
print("will give false if any other puncution present in the sentance like space or any other symbols: ",a.isalnum())
print()
b="WelcomeTOTheIndia"
print("will give true when all character in the string is alpha numeric, A-Z, a-z, 0-9",b.isalnum())

will give false if any other puncution present in the sentance like space or any other symbols:  False

will give true when all character in the string is alpha numeric, A-Z, a-z, 0-9 True

# isalpha(): 
check string are alphabets or not.

In [51]:
a="Welcome0-@"
print("will give false if any other puncution present in the sentance like space or any other symbols, numeric values: ",a.isalpha())
print()
b="WelcomeTOTheIndia"
print("will give true when all character in the string is alphabates or not, A-Z, a-z: ",b.isalpha())

will give false if any other puncution present in the sentance like space or any other symbols, numeric values:  False

will give true when all character in the string is alphabates or not, A-Z, a-z:  True

# islower(): 
check all sentance are lower or not

In [60]:
a="Welcome"
print("will check all string are in lower letter ",a," : ",a.islower())
print()
b="welcome"
print("will check all string are in lower letter",b," : ",b.islower())

will check all string are in lower letter  Welcome  :  False

will check all string are in lower letter welcome  :  True

# isupper(): 
check string are in upper case or not.

In [62]:
a="WELCOME"
print("will check all string are in upper letter ",a," : ",a.isupper())
print()
b="welcome"
print("will check all string are in upper letter",b," : ",b.isupper())

will check all string are in lower letter  WELCOME  :  True

will check all string are in lower letter welcome  :  False

# isprintable(): 
check string are printable or not like: 

printable is : string, list, tuple and dictionary etc.   
non printable is: \n, \t etc.

In [67]:
a="WELCOME"
print("will check all string are in printable or not ",a," : ",a.isprintable())
print()
b="welcome'\n'"
print("will check all string are in printable or not ",b," : ",b.isprintable())

will check all string are in printable or not  WELCOME  :  True

will check all string are in printable or not  welcome'
'  :  False

# isspace(): 
check string are contain whitespace or blank space not.

In [88]:
a=" "
print("will check whitespace are available or not ",a," : ",a.isspace())
print()
b="welcome            "
print("will check whitespace are available or not ",b," : ",b.isspace())

will check whitespace are available or not     :  True

will check whitespace are available or not  welcome              :  False

# istitle(): 

if the first letter of each word of the string is capitalised else return false.

In [80]:
a="Hello My Name Is Nishant"
print(a.istitle())
print()
b="Hello my name is nishant"
print(b.istitle())

True

False

# swapecase():
convert string lowercase to uppercse and uppercase to lowercase.

In [83]:
a="hello ny name is nishant"
print(a.swapcase())
print()
b,C="HELLO MY NAME IS NISHANT","Python is Programming Lengauge"
print(b,C.swapcase())

HELLO NY NAME IS NISHANT

HELLO MY NAME IS NISHANT pYTHON IS pROGRAMMING lENGAUGE

# title():

capatilizes each letter of the word within the string.

In [86]:
a="hello my name is nishant"
print(a.title())

Hello My Name Is Nishant

# strip : 
it will remove the duplicate characters from the sentance. like: nishant : n is 2 times in the string and while using strip method it will remove n from last of the word.
white space or any word from the string or sentance
# rstrip: 
remove whitespace or any other value from the end of the word/sentance like: Niku!!!! = Niku
# isstrip: 
check string have whitespace.

In [144]:
s= " Hello this is nishant "
print(s)
r=s.strip()
print(r)


k= " Hello this is nishant"
print(k.strip(" Helothisn"))


k= "nishant"
print(k.strip(" "))

 Hello this is nishant
Hello this is nishant
a
nishant

# partition(sep): left partition
after partition string will convert into tuple.
sep = seprator (any word in the string which you want to seprate all sentance or word.)
# rpartition(sep): right partition

In [150]:
s= "Hello this is nishant"
print(s)
r=s.partition(" ")
print(r)

s= "Hello this is nishant"
print(s)
r=s.rpartition(" ")
print(r)

Hello this is nishant
('Hello', ' ', 'this is nishant')
Hello this is nishant
('Hello this is', ' ', 'nishant')

# split(maxsplit) :
convert all strings in to tuple.
# rsplit(maxsplit)
# splitlines(keepends)

In [151]:
s="i love you nishant"
r=s.split()
print(r)

['i', 'love', 'you', 'nishant']

In [113]:
s="Happy \n new \n year"
r=s.splitlines()
print(s)
print(r)

print()

s="Happy \n new \n year"
r=s.splitlines(True) # true will give the seprator and display the result.
print(r)

Happy
 new
 year
['Happy ', ' new ', ' year']

['Happy \n', ' new \n', ' year']

In [153]:
#here (" " are used as a seprator and 1 is used to control the seprator. if we didn't give control it will seprate the string on the basis of max strings.)
s="i love you nishant"
r=s.split(" ",1)
print(r)

['i', 'love you nishant']

Write a program to split a given string on hyphens and display each substring. 
Jagdish -from-haldwani



Output - Jagdish 
From
Haldwani

In [156]:
a="Jagdish -from-haldwani"
b=a.split("-")
for i in b:
    print(i)

Jagdish
from
haldwani

# capitalize()

In [ ]:
a= "india has best cities"
b=a.capitalize()
print(b)

# casefold()
make small letter of each word of first letters. 

similar like lower() method.

In [48]:
a= "India Has Best Cities"
b=a.casefold()
print(b)

india has best cities

# isdecimal()

In [68]:
s1="3"
r=s1.isdecimal()
print(r)

True

# digit
# isdigit()

In [75]:
s1="3"
r=s1.isdigit()
print(r)

True

# isnumeric()

In [78]:
s1="3"
r=s1.isnumeric()
print(r)

True

In [ ]:
Count all letters, digits, and special symbols from a given string
 "P@#yn26at^&i5ve"

In [8]:
print("hello \" Nishant")

hello " Nishant

write a peragraph in multiple lines and show thier result in single lines.

write a program to display below mentioned peragraph without using (""") triple quotes in python

Johny Johny Yes Papa Nursery Rhyme

Johny Johny yes papa.
Eating sugar no papa.
Telling lies no papa.
Open your mouth.
Ha!
Ha!
Ha!
Johny Johny yes papa.
Eating sugar no papa.
Telling lies no papa.
Open your mouth.
Ha!
Ha!
Ha!

Write a program to display the below path as it is.

In [6]:
print("c:\\new folder\\text.txt")

c:\new folder\text.txt

In [7]:
print("hello\ahii")

hellohii

In [8]:
print("hello\"hi\"program")

hello"hi"program

In [ ]:
WAP to give proper spacing between the text and amount without using space.

Name                          Amount
nishant                       500
aaradhya                      800
niku                          400
baban parsad gupta            400

In [20]:
print("name\tamount")
print("nishant \t500")
print("aaradhya\t800")
print("niku\t400")
print("baban parsad gupta\t400")

name	amount
nishant 	500
aaradhya	800
niku	400
baban parsad gupta	400

In [25]:
print("Name\tAmount".expandtabs(tabsize=30))
print("nishant \t500".expandtabs(tabsize=30))
print("aaradhya\t800".expandtabs(tabsize=30))
print("niku\t400".expandtabs(tabsize=30))
print("baban parsad gupta\t400".expandtabs(tabsize=30))

Name                          Amount
nishant                       500
aaradhya                      800
niku                          400
baban parsad gupta            400

# How to Input Multiple Values from users in One Line in Python.

In [30]:
fname,mname,lname=input("enter your full name").split(" ")
print("customer name: ", fname,mname,lname)

enter your full name nik kumar gupta

customer name:  nik kumar gupta

In [29]:
fname,mname,lname=input("enter your full name").split(",")
print("customer name: ", fname,mname,lname)

enter your full name nishant,kumar, gupta

customer name nishant kumar  gupta

In [31]:
fname,mname,lname,*address=input("enter your full name").split(",")
print("customer name: ", fname,mname,lname)
print("address: ", address)

enter your full name nishant,kumar,gupta,delhi,patna,haridwar

customer name:  nishant kumar gupta
address:  ['delhi', 'patna', 'haridwar']

In [36]:
#here * work as a expand and shift extra name, cities or string into list in cities.
address,*cities=input("enter visited cities name").split(",")
print("address: ", address)
print("cities",cities)

enter visited cities name patna, delhi, jaipur

address:  patna
cities [' delhi', ' jaipur']

In [42]:
a= "india has best cities"
b=a.capitalize()
print(b)

India has best cities

# string format

># align:
left allign : a.ljust(width,fill)  
center allign : a.center(width,fill)   
right allign : a.rjust(width,fill)

In [83]:
# ljust(width,fill(optional)) # here 10 is no of space on the left side of text. 

s="hello"
s2=s.ljust(10)
print(s2)

s="hello"
s2=s.ljust(10,"*")
print(s2)

hello
hello*****

In [84]:

# rjust(width,fill(optional)) # here 10 is no of space on the right side of text. 

s="hello"
s2=s.rjust(10)
print(s2)

s="hello"
s2=s.rjust(10,"*")
print(s2)

     hello
*****hello

In [89]:
# center(width,fill(optional)) # here 10 is no of space on the left and right side of text and text will showing in the center. 
s="hello"
s2=s.center(11)
print(s2)

s="hello"
s2=s.center(11,"*")
print(s2)

   hello
***hello***

# expandtabs(tabsize=10)

In [90]:
print("Name\tAmount".expandtabs(tabsize=30))
print("nishant \t500".expandtabs(tabsize=30))
print("aaradhya\t800".expandtabs(tabsize=30))
print("niku\t400".expandtabs(tabsize=30))
print("baban parsad gupta\t400".expandtabs(tabsize=30))

Name                          Amount
nishant                       500
aaradhya                      800
niku                          400
baban parsad gupta            400

# .format(fmtstr,*args, **kwargs)

In [106]:
print(1)
print("nishant love python programming")
print(2)
print("{} love {} programming".format("nishant","java")) # curly bracket used to take data from the variable
print(3)
print("{1} love {0} programming".format("nishant","java")) # 0 & 1 are the position of the variables.
print(4)
print("{name} love {language} programming".format(name="nishant",language="java")) # 0 & 1 are the position of the variables.
print(5)
s1="nishant"
s2= "python"
print("{0} love {1} programming".format(s1,s2))
s3="niku"
print(6)
print(f"{s3} love {s2} programming")

1
nishant love python programming
2
nishant love java programming
3
java love nishant programming
4
nishant love java programming
5
nishant love python programming
6
niku love python programming

# Encoding string methods:

s.encode(encoding,errors)
s.zfill(width) : # z = zero
s.join(iterable)
s.maketrans(x[,y[,z]])
s.translate(map)

# Percent sign (%) formatting

In [1]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about %s of your weight on Earth." % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth.

In [2]:
print("""Both sides of the %s get the same amount of sunlight, but only one side is seen from %s because the %s rotates around its own axis when it orbits %s.""" % ("Moon", "Earth", "Moon", "Earth"))

Both sides of the Moon get the same amount of sunlight, but only one side is seen from Earth because the Moon rotates around its own axis when it orbits Earth.

In [3]:
m="Moon"
e="Earth" 
print("""Both sides of the %s get the same amount of sunlight, but only one side is seen from %s because the %s rotates around its own axis when it orbits %s""" % (m,e,m,e))

Both sides of the Moon get the same amount of sunlight, but only one side is seen from Earth because the Moon rotates around its own axis when it orbits Earth

# The format() method

In [4]:
mass_percentage = "1/6"
print("On the Moon, you would weigh about {} of your weight on Earth.".format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth.

In [5]:
mass_percentage = "1/6"
print("""You are lighter on the {0}, because on the {0} you would weigh about {1} of your weight on Earth.""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon you would weigh about 1/6 of your weight on Earth.

# f-strings

In [7]:
print(f"On the Moon, you would weigh about {mass_percentage} of your weight on Earth.")

On the Moon, you would weigh about 1/6 of your weight on Earth.

# round

In [8]:
print(round(100/6, 1))

16.7

In [9]:
print(f"On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth.")

On the Moon, you would weigh about 16.7% of your weight on Earth.

In [10]:
subject = "interesting facts about the moon"
heading = f"{subject.title()}"
print(heading)

Interesting Facts About The Moon

In [17]:
name = 'Ganymede'
planet = 'Mars'
gravity = '1.43'

template = """Gravity Facts about {name}
----------------------------------------
Planet Name: {planet}
Gravity on {name}: {gravity} m/s2"""

print(template.format(name=name, planet=planet, gravity=gravity))

Gravity Facts about Ganymede
----------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.43 m/s2